@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  font-family: 'Kumbh Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0 5vw;
  touch-action: auto;
  height: fit-content;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.45);
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  align-items: center;
}
nav .left-side {
  display: flex;
  flex-direction: row;
}
nav .links {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
}
nav box-icon {
  display: none;
}
nav .right-side {
  display: flex;
  align-items: center;
  gap: 3rem;
  cursor: pointer;
  margin-right: 4vw;
}
@media screen and (max-width: 800px) {
  nav {
    /* learn it */
    display: flex;
  }
  .big-image {
    position: relative;
  }
  #prev,
  #next {
    position: absolute;
    top: 4%;
    cursor: pointer;
  }
  #prev {
    display: block;
    margin-left: 5%;
    top: 5%;
    left: 4%;
    /*  margin-top: 40vw; */
  }
  #next {
    display: block;
    right: 4%;
    margin-right: 5%;
  }
}
.right-side {
  display: flex;
  align-items: center;
}
.right-side .header-cart {
  width: 2vw;
  position: relative;
}
#cart-container {
  position: relative;
  display: inline-block;
  top: 1em;
}
#cart-notification {
  position: absolute;
  top: 0.7em;
  right: -2em;
  background-color: hsl(26, 100%, 55%);
  color: #fff;
  border-radius: 50%;
  padding: 6px 8px;
  font-size: 0.6vw;
  display: none;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1300px) {
  nav {
    margin: auto 2vw;
  }
  body {
    margin: 0;
    padding: 0;
  }

  #cart-container {
    position: relative;
    display: inline-block;
    top: 1em;
  }
  #cart-notification {
    width: 0.5vw;
    position: absolute;
    top: -3em;
    left: 3em;
  }
}

@media screen and (max-width: 1000px) {
  .left-side {
    margin-left: 2vw;
  }
  body {
    margin: 0;
    padding: 0;
  }
}
.right-side img {
  width: 3vw;
}
.left-side {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.left-side #sneakers {
  font-weight: 900;
  text-decoration: none;
  color: #000000;
  font-size: 2.7vw;
}
.left-side .links {
  display: flex;
}
.left-side .links .link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #333;
}

.left-side .links .link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  top: 2vw;
  width: 0;
  height: 2px;
  background-color: hsl(26, 100%, 55%);
  transition: width 0.5s ease;
}

.left-side .links .link:hover::before {
  width: 100%;
}
main {
  margin-top: 5vw;
  margin-left: 4vw;
  margin-right: 10vw;
  display: flex;
  gap: 10vw;
}
@media screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #cart-container {
    width: 0.4vw;
    position: relative;
    display: inline-block;
    /* top: 0.15em; */
  }
  .right-side #cart-notification {
    position: absolute !important;
    top: 0.3em !important;
    left: 3.8em !important;
    font-size: 1.5vw;
  }
  /* .hidden-content {
    left: 0 !important;
    margin: auto 4vw;
    width: 100% !important;
    display: block;
  }
  .hidden-content p {
    font-size: 1rem !important;
    width: 4rem;
  }
  .hidden-content button {
    width: 100%;
    margin: auto 0;
  } */
  .hidden-content {
    width: 93% !important;
    position: absolute !important;
    left: 0 !important;
  }

  .hidden-content h4 {
    font-size: 1.2vw; /* Adjust the font size as needed */
  }

  .hidden-content p {
    margin: 0; /* Adjust the margin as needed */
    position: relative;
    top: -2.5rem !important;
    left: -8rem !important;
    font-size: 3vw !important; /* Adjust the font size as needed */
    white-space: nowrap;
  }
  .first-col {
    /* display: grid !important;
    grid-template-columns: 1fr 2fr 1fr !important; */
    display: flex !important;
    margin: 1vw 2vw;
    justify-content: space-between !important;
  }
  .first-col .del {
    width: 2.5rem !important;
    height: 2.5rem !important;
  }
  .first-col img {
    margin-left: 0 !important;
    width: 4rem !important; /* Adjust the width as needed */
    height: 4rem !important; /* Adjust the height as needed */
  }

  .first-col .text-price p {
    font-size: 0.6rem; /* Adjust the font size as needed */
  }

  .wrapper button {
    display: block;
    margin: 0 auto !important;
    height: 4rem;
    bottom: 1vw;
    font-size: 0.8rem; /* Adjust the font size as needed */
  }
}
#prev,
#next {
  display: none;
}
@media screen and (max-width: 900px) {
  * {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  nav {
    display: flex;
  }
  nav box-icon {
    display: block;
    margin-right: 2vw;
  }

  nav .left-side .links a:not(#sneakers) {
    display: none;
  }
  .right-side .header-cart {
    width: 1.7em;
    position: relative;
    display: inline-block;
  }
  /* .big-image {
    position: relative;
    padding: 10px;
  } */

  .right-side .header-profile {
    width: 2em;
  }
  #cart-container {
    position: relative;
    display: inline-block;
    top: 0.15em;
  }
  .right-side #cart-notification {
    position: absolute;
    top: 0.7em;
    left: 4.7em;
  }
  main {
    flex-wrap: wrap;
    flex-direction: column;
    margin: 2vw;
    gap: 0;
  }
  main .images .big-image {
    width: 100%;
  }
  main .images .gallery {
    display: none;
  }
  main .information {
    display: flex;
    flex-direction: column;
    margin-top: 5vw;
    /* align-items: center; */
    justify-content: left;
  }
  .information > * {
    margin-top: 4vw;
  }
  main .information .info {
    width: 100%;
    font-size: 2.8vw;
  }
  main .information .price .discount {
    font-size: 2vw;
  }

  .hidden-content {
    margin: 1rem;
  }
  .hidden-content p {
    font-size: 0.7rem;
  }
  .hidden-content h4 {
    font-size: 1.5rem;
  }

  .hidden-content .del {
    width: 15px;
    height: 15px;
  }
  .hidden-content .first-col img {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  #counter {
    background-color: red;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 3em;
    margin-bottom: 2rem;
    /* max-width: 800px; */
    box-sizing: border-box;
  }
  #counter button {
    width: 48%;
    height: 3em;
    padding: 0;
    box-sizing: border-box;
  }
  #cart {
    width: 100%;
    /* max-width: px; */
    padding: 2em;
    box-sizing: border-box;
    margin-left: 2.5vw;
  }
  #prev {
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    display: block;
    top: 50%;
    left: 8%;
    transform: translate(-50%, -50%);
    z-index: 99;
    border-radius: 50%;
    padding: 2vw;
    cursor: pointer;
  }
  #next {
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    display: block;
    top: 50%;
    right: 8%;
    transform: translate(-50%, -50%);
    z-index: 99;
    border-radius: 50%;
    padding: 2vw;
    cursor: pointer;
  }
}
@media screen and (max-width: 800px) {
  #prev {
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    display: block;
    top: 45%;
    left: 8%;
    transform: translate(-50%, -50%);
    z-index: 99;
    border-radius: 50%;
    padding: 2vw;
  }
  #next {
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    display: block;
    top: 45%;
    right: 3%;
    transform: translate(-50%, -50%);
    z-index: 99;
    border-radius: 50%;
    padding: 2vw;
  }
}
@media screen and (max-width: 650px) {
  #prev {
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    display: block;
    top: 40%;
    left: 8%;
    transform: translate(-50%, -50%);
    z-index: 99;
    border-radius: 50%;
    padding: 2vw;
  }
  #next {
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    display: block;
    top: 40%;
    right: 3%;
    transform: translate(-50%, -50%);
    z-index: 99;
    border-radius: 50%;
    padding: 2vw;
  }
}
@media screen and (max-width: 520px) {
  #prev {
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    display: block;
    top: 30%;
    left: 8%;
    transform: translate(-50%, -50%);
    z-index: 99;
    border-radius: 50%;
    padding: 2vw;
  }
  #next {
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    display: block;
    top: 30%;
    right: 3%;
    transform: translate(-50%, -50%);
    z-index: 99;
    border-radius: 50%;
    padding: 2vw;
  }
  .hidden-content p {
    margin: 0; /* Adjust the margin as needed */
    position: relative;
    top: -2.5rem !important;
    left: -6rem !important;
    font-size: 3vw !important; /* Adjust the font size as needed */
    white-space: nowrap;
  }
  .hidden-content .del {
    position: relative;
    top: -5vw !important;
    width: 5vw !important;
    height: 5vw !important;
  }
}
@media screen and (max-width: 400px) {
  #prev {
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    display: block;
    top: 25%;
    left: 8%;
    transform: translate(-50%, -50%);
    z-index: 99;
    border-radius: 50%;
    padding: 2vw;
  }
  #next {
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    display: block;
    top: 25%;
    right: 1%;
    transform: translate(-50%, -50%);
    z-index: 99;
    border-radius: 50%;
    padding: 2vw;
  }
  .hidden-content p {
    margin: 0; /* Adjust the margin as needed */
    position: relative;
    top: -2.5rem !important;
    left: -4rem !important;
    font-size: 3vw !important; /* Adjust the font size as needed */
    white-space: nowrap;
  }
  .hidden-content .del {
    width: 7vw !important;
    height: 7vw !important;
  }
}
@media screen and (max-width: 320px) {
  #prev {
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    display: block;
    top: 22%;
    left: 8%;
    transform: translate(-50%, -50%);
    z-index: 99;
    border-radius: 50%;
    padding: 2vw;
  }
  #next {
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    display: block;
    top: 22%;
    right: 1%;
    transform: translate(-50%, -50%);
    z-index: 99;
    border-radius: 50%;
    padding: 2vw;
  }
  .hidden-content .del {
    position: relative;
    top: -2rem !important;
  }
}
.images .big-image {
  border-radius: 8px;
  width: 30vw;
}
.images .gallery {
  display: flex;
  gap: 1vw;
  margin-top: 1vw;
  justify-content: space-evenly;
}
.images .gallery img {
  width: 5vw;
  border-radius: 4px;
  transition: all 0.5s;
}

.images .gallery img:hover {
  border: 2px solid hsl(26, 100%, 55%);
  opacity: 0.5;
}

.information h5 {
  color: hsl(26, 100%, 55%);
  text-transform: uppercase;
  margin-bottom: 1vw;
  margin-top: 5vw;
}
.information h1 {
  font-size: 3.5vw;
}

.information .info {
  width: 30vw;
  margin-top: 1vw;
  /* letter-spacing: 0.04vw; */
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.45);
  margin-bottom: 2vw;
}
.information .price {
  display: flex;
  gap: 2vw;
  align-items: center;
}
.information .price .discount {
  width: 3vw;
  height: 1.6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(25, 100%, 94%);
  color: hsl(26, 100%, 55%);
  font-weight: 900;
  font-size: 0.9vw;
}
.information .strike {
  margin-top: 0.7vw;
  margin-bottom: 3vw;
  color: rgba(0, 0, 0, 0.45);
  text-decoration: line-through;
}
.buttons {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}
.buttons #cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 4vw;
  height: 3vw;
  border-radius: 8px;
  background-color: hsl(26, 100%, 55%);
  color: #fff;
  gap: 3vw;
  font-weight: 900;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}
.buttons #cart:hover {
  background-color: hsl(25, 100%, 94%);
}
#cart {
  flex: 60%;
}
#cart img {
  width: 2vw;
  height: 1.5vw;
}

#counter {
  display: flex;
  flex: 40%;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  background-color: hsl(228, 19%, 89%);
  border-radius: 8px;
}
#counter button {
  border: none;
  appearance: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.hidden-content {
  display: none;
  position: absolute;
  right: 0;
  left: 70%;
  border-radius: 8px;
  width: 25%;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.hidden-content h4 {
  padding: 2vw 1vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.45);
}
.hidden-content p {
  margin: 20%;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 700;
}

.first-col {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  /* margin-top: 0vw; */
}

.first-col .del {
  width: 5%;
  height: 5%;
  position: relative;
  top: -1vw;
}

.first-col img {
  margin: 1vw;
  width: 3vw;
  height: 3vw;
  border-radius: 4px;
}
.first-col .text-price p {
  position: relative;
  right: 4vw;
  top: -2vw;
  font-size: 0.9vw;
  width: 15vw;
}
.first-col .text-price .pp {
  position: relative;
  top: -2.6vw;
}
.wrapper button {
  position: relative;
  bottom: 3vw;
  margin: -2vw 2vw;
  width: 80%;
  background-color: hsl(26, 100%, 55%);
  border: none;
  color: #fff;
  font-weight: 700;
  padding: 1vw;
  border-radius: 8px;
}
