@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  font-family: 'Kumbh Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0 5vw;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.45);
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  align-items: center;
}
nav .left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav .links {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
}
nav .right-side {
  display: flex;
  align-items: center;
  gap: 3rem;
  cursor: pointer;
  margin-right: 4vw;
}

.right-side .header-cart {
  width: 2vw;
}
.right-side img {
  width: 3vw;
}
.left-side #sneakers {
  font-weight: 900;
  text-decoration: none;
  color: #000000;
  font-size: 2.7vw;
}

.left-side .links .link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #333;
}

.left-side .links .link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  top: 2vw;
  width: 0;
  height: 2px;
  background-color: hsl(26, 100%, 55%);
  transition: width 0.5s ease;
}

.left-side .links .link:hover::before {
  width: 100%;
}
main {
  margin-top: 5vw;
  margin-left: 4vw;
  margin-right: 10vw;
  display: flex;
  gap: 10vw;
}
.images .big-image {
  border-radius: 8px;
  width: 30vw;
}
.images .gallery {
  display: flex;
  gap: 1vw;
  margin-top: 1vw;
  justify-content: space-evenly;
}
.images .gallery img {
  width: 5vw;
  border-radius: 4px;
  transition: all 0.5s;
}

.images .gallery img:hover {
  border: 2px solid hsl(26, 100%, 55%);
  opacity: 0.5;
}

.information h5 {
  color: hsl(26, 100%, 55%);
  text-transform: uppercase;
  margin-bottom: 1vw;
  margin-top: 5vw;
}
.information h1 {
  font-size: 3.5vw;
}

.information .info {
  width: 30vw;
  margin-top: 1vw;
  /* letter-spacing: 0.04vw; */
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.45);
  margin-bottom: 2vw;
}
.information .price {
  display: flex;
  gap: 2vw;
  align-items: center;
}
.information .price .discount {
  width: 3vw;
  height: 1.6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(25, 100%, 94%);
  color: hsl(26, 100%, 55%);
  font-weight: 900;
  font-size: 0.9vw;
}
.information .strike {
  margin-top: 0.7vw;
  margin-bottom: 3vw;
  color: rgba(0, 0, 0, 0.45);
  text-decoration: line-through;
}
.buttons {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}
.buttons #cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 4vw;
  height: 3vw;
  border-radius: 8px;
  background-color: hsl(26, 100%, 55%);
  color: #fff;
  gap: 3vw;
  font-weight: 900;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}
.buttons #cart:hover {
  background-color: hsl(25, 100%, 94%);
}
#cart {
  flex: 60%;
}
#cart img {
  width: 2vw;
  height: 1.5vw;
}

#counter {
  display: flex;
  flex: 40%;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  background-color: hsl(228, 19%, 89%);
  border-radius: 8px;
}
#counter button {
  border: none;
  appearance: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.hidden-content {
  display: none;
  position: fixed;
  right: inherit;
  left: 70vw;
  border-radius: 8px;
  width: 25vw;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.hidden-content h4 {
  padding: 2vw 1vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.45);
}
.hidden-content p {
  margin: 20%;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 700;
}
